/Goal/goals.log
/Goal/goals.out
/Goal/goals.pdf
/Goal/goals.synctex.gz
/Goal/goals.aux
/Nodig/*.vpp~8
/Nodig/*.vpp~7
/Thesis - 2/Papers/05370778.pdf
/Thesis - 2/Papers/Fundamentals_of_Database_Systems,_6th_Edition.pdf
/Thesis - 2/Papers/tr-96-18.pdf
